<!DOCTYPE html>
<html>
  <head>
    <title>Torrent Downloader</title>
      <!-- Compiled and minified CSS -->
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body class="container">
  	<div class="row">
   			<div class="col s6 offset-l10 l1 center-text">
   				<a href="/" class="black-text"> Home </a>
   			</div>
   			<div class="col s6 l1 center-text">
   				<a href="/list" class="black-text"> List </a>
   			</div>
   	</div>
	<center>
   		<img src="images/logo.png" class="responsive-img" alt="">
   	</center>
   	<div class="row">
    	<form id="torrent_form" class="col s12 l12">
      		<div class="row">
        		<div class="input-field col s12 l4 offset-l4">
        			<input type="text" id="torrent" name="torrent" class="validate">
        			<label for="torrent">Drop Magnet Link</label>
        		</div>
        		<div class="input-field col s8 offset-s2 l4 offset-l4">
        			<a id="send_torrent" class="waves-effect waves-light btn right">Download</a>
        		</div>
			</div>
  		<center>
   		<div id="results">
   		<p class="grey-text text-darken-1 flow-text">Your file is ready!<a href="/list">Acess here.</a></p>
   		</div>
   		</center>
	   	</form>
	<center id="loading">
   		<p class="grey-text text-darken-1 flow-text">This may take a while<br>It’s a good time to grab a cup of coffee or tea.</p>
   		<div class="row">
   			<div class="col s12 l4 offset-l4">
   				<div class="progress">
					<div class="indeterminate"></div>
				</div>
   			</div>
   		</div>
	</center>
	</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  	<script src="/socket.io/socket.io.js"></script>
	<script>
	$(document).ready(() => {
		var id = '<%= rand %>'
		localStorage.setItem("rand", id )
		var socket = io()
		$('#loading').hide()
		$('#send_torrent').click(() => {
			let input = $('#torrent').val()
			socket.emit('toServer', { magnet: input, id: localStorage.getItem('rand')})
		})
		socket.on(localStorage.getItem('rand'),(data)=>{
			if(data.status === 1){
				$('#loading').show()
			}else{
				$('#result').show()
				$('#loading').hide()
			}
		})
	})
	</script>
  </body>
</html>
