<!DOCTYPE html>
<html>
  <head>
    <title>Torrent Downloader</title>
      <!-- Compiled and minified CSS -->
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
    <body class="container">
  	<div class="row">
   			<div class="col offset-s9 s1">
   				<a href="/" class="black-text"> Home </a>
   			</div>
   			<div class="col s1">
   				<a href="/list" class="black-text"> List </a>
   			</div>
   	</div>
	<center>
   		<img src="images/logo.png" class="responsive-img" alt="">
   	</center>
   	<div class="row">
   	<center>
   	<div class="col l8 offset-l2 s12">
   	<div class="collection">
			<% files.forEach((file)=>{
				var link;
				let separated = file.split('\/');
				let count = separated.length;
				if(separated[count-2] === "files"){
					link = separated[count-1];
				}else{
					link = separated[count-2] +"\/" + separated[count-1];
				}
			%>
		<a href="/files/<%= link %>" class="collection-item" download><%= separated[count-1] %> </a>
			<% }) %>
		</div>
		</div>
			</center>
	</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  </body>
</html>
