<!DOCTYPE html>
<html>
  <head>
    <title>Torrent Downloader</title>
      <!-- Compiled and minified CSS -->
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body class="container">
  	<div class="row">
   			<div class="col s6 offset-l10 l1 center">
   				<a href="/" class="black-text"> Home </a>
   			</div>
   			<div class="col s6 l1 center">
   				<a href="/list" class="black-text"> List </a>
   			</div>
   	</div>

